---
# configure jenkins

- name: stop jenkins service
  systemd:
    name: jenkins
    state: stopped

- name: set jenkins admin username
  set_fact:
    jenkins_admin_user: "{{ username }}"

- name: generate a random password for jenkins admin
  set_fact:
    jenkins_admin_pass: "{{ lookup('password', '/dev/null length=16 chars=ascii_letters,digits') }}"
  no_log: true

- name: create JCasC directory
  file:
    path: /etc/jenkins/
    state: directory

- name: create JCasC file
  template:
    src: jenkins.yaml.j2
    dest: /etc/jenkins/jenkins.yaml

- name: update jenkins unit file
  lineinfile:
    path: /lib/systemd/system/jenkins.service
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  loop:
    - { regexp: '^\#?Environment="JENKINS_PORT=8080"$', line: 'Environment="JENKINS_PORT=-1"' }
    - { regexp: '^\#?Environment="JENKINS_HTTPS_PORT=443"$', line: 'Environment="JENKINS_HTTPS_PORT=443"' }
    - { regexp: '^\#?Environment="JENKINS_HTTPS_KEYSTORE=/path/to/keystore.jks"$', line: 'Environment="JENKINS_HTTPS_KEYSTORE=/var/lib/jenkins/jenkins.keystore.jks"' }
    - { regexp: '^\#?Environment="JENKINS_HTTPS_KEYSTORE_PASSWORD=s3cR3tPa55w0rD"$', line: 'Environment="JENKINS_HTTPS_KEYSTORE_PASSWORD={{ keystore_password }}"' }
    - { regexp: '^\#?AmbientCapabilities=CAP_NET_BIND_SERVICE$', line: 'AmbientCapabilities=CAP_NET_BIND_SERVICE' }

- name: add jenkins config to
  lineinfile:
    path: /lib/systemd/system/jenkins.service
    insertafter: '^[Service]'
    line: 'Environment="CASC_JENKINS_CONFIG=/etc/jenkins/jenkins.yaml"'

- name: start jenkins service
  systemd:
    name: jenkins
    state: started
    daemon_reload: true
    enabled: yes