---
# create and store credentials for jenkins and sudo user

- name: set jenkins admin username
  set_fact:
    jenkins_admin_user: "{{ username }}"

- name: generate a random password for jenkins admin
  set_fact:
    jenkins_admin_pass: "{{ lookup('password', '/dev/null length=16 chars=ascii_letters,digits') }}"
  no_log: true

- name: writing creds into file
  copy:
    dest: '/home/{{ username }}/.credentials'
    mode: '0600'
    owner: '{{ username }}'
    group: '{{ username }}'
    content: |
      Sudo Username: {{ username }}
      Sudo Password: {{ password }}
      Jenkins Admin Username: {{ jenkins_admin_user }}
      Jenkins Admin Password: {{ jenkins_admin_pass }}