---

- name: append jenkins pipeline config
  become: true
  ansible.builtin.blockinfile:
    path: /etc/jenkins/jenkins.yaml
    block: "{{ lookup('template', 'jenkins-pipeline.yaml.j2') }}"
    marker: ""

- name: restart jenkins
  systemd:
    name: jenkins
    state: restarted
