---

- name: append jenkins pipeline config
  become: true
  ansible.builtin.blockinfile:
    path: /etc/jenkins/jenkins.yaml
    block: "{{ lookup('template', 'jenkins-pipeline.yaml.j2') }}"

- name: reload jenkins configuration
  ansible.builtin.uri:
    url: "https://{{ _domain }}/configuration-as-code/reload"
    method: POST
    user: "{{ jenkins_admin_user }}"
    password: "{{ jenkins_admin_pass }}"
    force_basic_auth: true
    status_code: 200
