[Unit]
Description=Jenkins Swarm Agent {{ item }}
After=network.target

[Service]
User=jenkins
ExecStart=/usr/bin/java -jar /opt/swarm-client.jar \
          -fsroot /var/lib/jenkins/agent{{ item }} \
          -master {{ default_dns }} \
          -username {{ jenkins_admin_user }} \
          -password "{{ jenkins_admin_pass }}" \
          -executors 1 \
          -mode exclusive
Restart=always

[Install]
WantedBy=multi-user.target
