jenkins:
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "{{ jenkins_admin_user }}"
          password: "{{ jenkins_admin_pass }}"
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false
  slaveAgentPort: 0

jobs:
  - multibranchPipelineJob('Demo development pipeline') {
      branchSources {
        git {
          id('demo-dev-pipeline-id')
          remote('https://github.com/ssastrau/poc-jenkins-cicd.git')
        }
      }
      orphanedItemStrategy {
        discardOldItems {
          daysToKeep(14)
          numToKeep(20)
        }
      }
    }
