jenkins:
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "{{ jenkins_admin_user }}"
          password: "{{ jenkins_admin_pass }}"
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false
  slaveAgentPort: 0

jobs:
  - script: >
      pipelineJob('Demo development pipeline') {
        definition {
          cps {
            script("""
              pipeline {
                agent any
                stages {
                  stage('Pipeline for PRs only') {
                    when {
                      changeRequest()
                    }
                    stages {
                      stage('Git Checkout') {
                        steps {
                          git url: 'https://github.com/ssastrau/poc-jenkins-cicd.git', branch: 'main'
                        }
                      }
                      stage('Static Code Analysis') {
                        steps {
                          echo 'Running Static Code Analysis tools...'
                        }
                      }
                      stage('Linode provisioning stage') {
                        steps {
                          script {
                            def userInput = input(
                              message: 'Provision your Linode',
                              parameters: [
                                [$class: 'ChoiceParameterDefinition', choices: ['nano', 'micro', 'mini'].join('\n'), name: 'size', description: 'Select Linode size'],
                                [$class: 'ChoiceParameterDefinition', choices: ['se-sto', 'us-ord', 'jp-osa'].join('\n'), name: 'region', description: 'Select Linode region']
                              ]
                            )
                            echo "Provisioning Linode of size: ${userInput['size']} in region: ${userInput['region']}"
                            // Your Linode provisioning logic here, using userInput['size'] and userInput['region']!
                          }
                        }
                      }
                      stage('Linode Tests') {
                        steps {
                          echo 'Running tests on provisioned Linode...'
                        }
                      }
                      stage('App deployment stage') {
                        steps {
                          script {
                            def deployment = input(
                              message: 'Select App deployment method:',
                              parameters: [
                                [$class: 'ChoiceParameterDefinition', choices: ['jenkins', 'docker', 'MySQL'].join('\n'), name: 'deployment_method']
                              ]
                            )
                            echo "Deploying the app with: ${deployment}"
                          }
                        }
                      }
                      stage('Deployment Tests') {
                        steps {
                          echo 'Running tests after app deployment...'
                        }
                      }
                      stage('Linode deletion stage') {
                        steps {
                          script {
                            def confirm = input(
                              message: 'Do you want to delete the Linode?',
                              parameters: [
                                [$class: 'ChoiceParameterDefinition', choices: ['Yes', 'No'].join('\n'), name: 'confirm_delete']
                              ]
                            )
                            if (confirm == 'Yes') {
                              echo 'Deleting the Linode...'
                            } else {
                              echo 'Deletion cancelled by user.'
                            }
                          }
                        }
                      }
                      stage('Report stage') {
                        steps {
                          echo 'Sending report to the team...'
                        }
                      }
                    }
                  }
                }
              }
            """)
            sandbox(true)
          }
        }
      }
